.color-card {
  width: 25rem;
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.color-card__highlight {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card__hex-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.color-card__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.color-card__button {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  font-weight: 600;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.color-card__cancel-button {
  background-color: rgba(255, 255, 255, 0.3);
  color: inherit;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.2);
}

.color-card__cancel-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

.color-card__delete-button {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(150, 0, 0, 0.6);
}

.color-card__delete-button:hover {
  background-color: rgba(255, 0, 0, 0.9);
  box-shadow: 0 0.25rem 0.5rem rgba(180, 0, 0, 0.8);
}

.color-card__edit-button {
  background-color: rgba(0, 123, 255, 0.7);
  color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 85, 170, 0.6);
}

.color-card__edit-button:hover {
  background-color: rgba(0, 123, 255, 0.9);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 85, 170, 0.8);
}

.contrast-result {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
  display: inline-block;
  width: fit-content;
}

.contrast-yup {
  background-color: #b4f8c8;
  color: #000;
}

.contrast-kinda {
  background-color: #ffe7a0;
  color: #000;
}

.contrast-nope {
  background-color: #ffadad;
  color: #000;
}

.color-card__contrast, .color-card__role {
  font-size: 1.2rem;
}