body {
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
  background-color: #e9ecf1;
}

.app__title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2em;
}

.app__empty-message {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #666;
}

.app__color-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}